/* Extra small devices (phones, less than 768px) */

@media screen and (max-width: 767px) {
  .product_header {
    display: none;
  }
  .new-header-product {
    background: #D8D8D8;
    height: 246px;
    display: block;
    .parusan_logo {
      width: 100px;
    }
    .parusan_logo1 {
      width: 87px;
    }
    .top {
      padding: 15px 15px 30px;
    }
    .bottom {
      background: $b-green;
      padding: 15px;
      height: 156px;
    }
    p {
      color: $white;
      font-weight: 600;
      border-right: 2px solid $white;
      font-size: 28px;
      line-height: 1;
    }
  }

  .main {
    display: none;
  }
  .new-main {
    display: block;
    height: 500px;
    position: relative;
    p {
      font-size: 24px;
    }
    .bottom {
      height: 196px;
    }
    .picture {

      position: absolute;
      bottom: 0;
      right: -40px;
      img {
        height: 273px;
      }
    }
  }

  #product_slider {
    position: static;
    margin-bottom: 60px;
    margin-top: 40px;
  }
  footer.container-fluid {
    padding-bottom: 0;
  }
  .container-fluid.copy_cont {
    padding-bottom: 0;
  }
  .abox1 img {
    margin-bottom: 15px;
  }

  html {
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
  }

  .product_header {
    height: 246px;
  }

  .select-caret {
    display: block;
  }
  .container-fluid {
    padding: {
      left: 0;
      right: 0;
      bottom: 70px;
    }
  }
  h2 {
    font-size: 1.9em;
    margin-top: 0;
  }
  /*header {
    padding-top: 44px;
  }*/
  #parallax {
    height: 586px;
  }
  .parusan_logo {
    width: 75%;
  }
  .menu {
    right: 15px;
  }
  .main_menu {
    width: 100%;
  }
  .lead_text {
    margin-right: 0;
    background: rgba(0, 93, 140, 1);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 7px;
    border: none;
    margin-top: 50px;
    font-size: 1.750em;
  }
  .button {
    min-width: 100%;
  }
  .arrow_down {
    right: 15px;
    z-index: 3;
  }
  .parallax_object1 {
    display: none;
  }
  .parallax_object2 img {
    width: 100%;
  }
  .arrow_up {
    right: 15px;
    bottom: 15px
  }
  .parusan_cont {
    padding-top: 24px;
    padding-bottom: 0px;
  }
  .white_box {
    margin-left: 0;
    padding: 5px 0 0;
  }
  .arrow_down_small {
    right: auto;
  }
  .parallax_object3 img {
    width: 100%;
  }
  .separator_big {
    height: 50px;
  }
  .gray_line {
    top: 0;
  }
  .parallax_object4 img {
    width: 100%;
  }
  .item_sale {
    margin-left: 0;
    margin-right: 0;
  }
  .sale_cont {
    padding-bottom: 10px;
    padding-top: 50px;
  }
  .parallax_object6 {
    img {
      width: 100%;
    }
  }
  .left_box .price_box {
    margin-left: 0;
  }
  .action_row {
    padding-left: 0;
    padding-right: 0;
  }
  .abox1, .abox2, .abox3, .abox4 {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  .abox1 img,
  .abox2 img,
  .abox3 img,
  .abox4 img {
    width: 50%;
  }
  .action_box {
    padding-right: 0;
  }
  .panel-title > .small, .panel-title > .small > a, .panel-title > a, .panel-title > small, .panel-title > small > a {
    padding-left: 15px;
    padding-right: 50px;
  }
  .accordion_angle {
    right: 20px;
  }
  .panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
    padding-left: 15px;
    padding-right: 15px;
  }
  .order_cont p {
    padding-left: 0;
    padding-right: 0;
  }
  .importer {
    padding-left: 0;
  }
  .footer_social {
    padding-left: 0;
    li {
      text-align: left;
    }
  }
  .padding-left-fix {
    padding: {
      left: 15px;
      right: 15px;
      bottom: 30px;
      top: 0;
    }
  }
  .volta_copyright {
    position: static;
    text-align: center;
    padding-bottom: 10px;
  }
  .menu_list, .menu_social {
    margin-left: 40px;
  }
  /* modal */
  .order_from {
    padding-left: 0;
    padding-right: 0;
  }
  .mod {
    position: relative;
    right: 15px;
    top: -15px;
  }
  .modal-content h2 {
    margin-top: 0;
  }
  .modal .button {
    width: 100%;
  }
  .close {
    right: 10px;
  }
  /**/
  .modal-dialog {
    width: 94%;
    margin: 26% 10px 0;
    .relative-select {
      width: 100%;
    }
  }
  /**/
  .order_row .button {
    left: 0;
  }
  .gray_plashka {
    display: none;
  }

  /**/
  #parallax {
    background: url('../img/parallax/B-layer.png') no-repeat bottom left #c8cdd7;
  }

  .girl {
    display: none;
  }
  .parallax_object11 {
    display: none;
  }
  .parallax_object22 {
    img {
      width: 100%;
    }
  }
  .separator_big {
    display: none;
  }
  .nav-tabs {
    overflow: hidden;
  }
  .nav-tabs > li > a {
    margin-bottom: 10px;
  }
  .tab-pane {
    padding-top: 10px;
    img {
      width: 100%;
    }
    .button {
      position: static;
      width: 100%;
    }
  }
  .padding-left-zero {
    padding-left: 15px;
  }
  .right_bottom {
    position: static;
    padding-top: 10%;
  }
  .accordion_cont {
    padding-bottom: 10px;
  }
  /**/
  .padding-right-fix {
    padding-right: 15px;
  }
  .hyal_cont .left_box, .hyal_cont .white_box {
    padding-left: 0;
    padding-right: 0;
  }
  .parallax_object5 {
    img {
      width: 100%;
    }
  }
  .separator_middle {
    display: none;
  }
  .video_cont {
    padding-bottom: 0;
  }
  .blue_line {
    display: none;
  }
  .button_invisible {
    opacity: 1;
  }
  /**/
  .item_link .item_price {
    color: $b-green;
  }
}

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991px) {
  .parallax_object1 {
    display: none;
  }
  .parallax_object2 img {
    width: 100%;
  }
  .arrow_down_small {
    right: 30px;
  }
  .parusan_cont {
    padding-bottom: 75px;
  }
  .parallax_object3 img {
    width: 100%;
  }
  .white_box {
    padding-left: 0;
    padding-top: 0;
  }
  .button {
    min-width: 100%;
  }
  .separator_big {
    height: 100px;
  }
  .copy_row {
    margin-left: 0;
    margin-right: 0;
  }
  .parallax_object4 img {
    width: 100%;
  }
  .left_box {
    padding-right: 0;
  }
  .left_box .price_box {
    margin-left: 0;
  }
  .gray_line {
    top: 0;
  }
  .action_row {
    padding-right: 30px;
    padding-left: 30px;
  }
  .panel-title > .small, .panel-title > .small > a, .panel-title > a, .panel-title > small, .panel-title > small > a {
    padding-left: 60px;
    padding-right: 60px;
  }
  .panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
    padding-left: 90px;
    padding-right: 90px;
  }
  .accordion_angle {
    right: 40px;
  }
  footer.container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  footer.container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .importer {
    padding-left: 0;
  }
  .footer_social {
    padding-left: 34px;
  }
  .main_menu {
    width: 100%;
  }
  .abox1, .abox2, .abox3 {
    padding-left: 0;
    padding-right: 0;
  }
  /**/
  .parallax_object2 img {
    margin-bottom: 15px;
  }
  .parallax_object11 {
    display: none;
  }
  .nav-tabs > li > a {
    min-width: 225px;
  }
  .left_top {
    padding-top: 0;
  }
  .padding-left-zero {
    padding-left: 15px;
  }
  .tab-pane {
    padding-top: 30px;
    img {
      width: 100%;
    }
  }
  .right_bottom {
    padding-top: 20px;
    position: static;
  }
  .tab-pane .button {
    position: static;
    width: 50%;
    min-width: 1px;
  }
  .separator_small {
    display: none;
  }
  .sale_cont {
    padding-bottom: 0;
  }
  .order_cont .button {
    width: 50%;
    min-width: 1px;
  }
  header {
    overflow: hidden;
  }
  /**/
  .parallax_object5 {
    img {
      width: 100%;
    }
  }
  .hyal_cont .left_box {
    padding-right: 0;
  }
  .blue_line {
    display: none;
  }
  /**/
  .button_invisible {
    opacity: 1;
  }
  .parallax_object6 {
    img {
      margin-bottom: 20px;
    }
  }
  .item_sale {
    min-height: 665px;
    margin-bottom: 50px;
  }
  .modal-dialog {
    width: 90%;
    margin-top: 20%;
    .container {
      width: 100%;
    }
    .button {
      width: 70%;
      min-width: 2px;
    }
  }
  .relative-select {
    width: 70%;
  }
  .modal-content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .item_link .item_price {
    color: $b-green;
  }
}

/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199px) {
  .parallax_object4 {
    position: absolute;
    right: 0;
    top: 40px;
    z-index: -1;
  }
  .arrow_down_small {
    right: 0;
  }
  .parallax_object22 {
    img {
      width: 100%;
    }
  }
  .separator_big {
    display: none;
  }
  .parusan_cont {
    padding-bottom: 70px;
  }
  /**/
  .parallax_object5 {
    img {
      width: 100%;
    }
  }
  .blue_line {
    width: 970px;
  }
  /**/
  .button_invisible {
    opacity: 1;
  }
  .parallax_object6 {
    img {
      margin-bottom: 20px;
    }
  }
  .item_sale {
    min-height: 665px;
    margin-bottom: 50px;
  }
  .modal-dialog {
    width: 90%;
    margin-top: 15%;
    .container {
      width: 100%;
    }
    .button {
      width: 70%;
      min-width: 2px;
    }
  }
  .relative-select {
    width: 70%;
  }
  .modal-content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .item_link .item_price {
    color: $b-green;
  }
}

/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  .container {
    width: 1018px;
  }
  /*.parallax_object1 {
    position: absolute;
    top: 162px;
    left: 141px;
    z-index: -1;
  }
  .parallax_object2 {
    position: absolute;
    top: 300px;
    left: 16px;
    z-index: -1;
  }
  .parallax_object3 {
    position: absolute;
    top: 285px;
    left: 11px;
    z-index: -1;
  }
  .parallax_object4 {
    position: absolute;
    top: 403px;
    right: 13px;
    z-index: -1;
  }

  .parallax_object11 {
    position: absolute;
    top: 580px;
    left: 57px;
    z-index: -1;
  }
  .parallax_object22 {
    position: absolute;
    top: 350px;
    left: -163px;
    z-index: -1;
  }

  .parallax_object5 {
    position: absolute;
    top: 171px;
    right: 0px;
    z-index: -1;
  }

  .parallax_object6 {
    position: absolute;
    top: 1050px;
    left: 16px;
    z-index: -1;
  }*/

  .modal-dialog {
    margin: 13% auto;
  }

}